html,
body {
  height: 100%;
}

body,
#header_content,
#container,
#footer_inner {
  margin: 0 auto;
}

body {
  font-family: Arial,sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color .25s;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: black;
}

a:hover {
  color: #8b8b8b;
}

h1,
h2,
p {
  margin: 0;
}

form input::placeholder {
  color: #bbb;
}

form input:focus {
  outline: none;
}

#container,
#footer_inner {
  min-width: 830px;
  width: 70%;
  max-width: 1450px;
}

#container {
  min-height: 100%;
  position: relative;
  z-index: 400;
}

#sub_header {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#sub_header > h1 {
  color: #00963e;
  font-size: 33px;
  line-height: 33pt;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.fade {
  opacity: .23;
}